<main class="col-lg-4 col-md-6 m-auto">
    <h1 class="h3 mb-3 font-weight-normal">Join us</h1>
    <input type="text" name="first-name" class="form-control" placeholder="First name" required autofocus>
    <input type="text" name="last-name" class="form-control" placeholder="Last name" required>
    <input type="text" name="login" class="form-control" placeholder="Login" required>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <input type="password" name="confirmation" class="form-control" placeholder="Confirmation" required>
    <button class="btn btn-primary btn-block mt-3" type="submit">Join</button>
</main>